*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: aqua;
}
button{
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
}
button:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
}
input{
    padding: 10px;
    border-radius: 15px;
}
h3{
    font-size: 20px;
    display: inline;
}
.capital-dev{
    background: skyblue;
    width: 640px;
    height: 510px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    border-radius: 20px;
}
.main-dev{
    padding: 45px;
}
.main{
    width: 100%;
}
.capital-dev h2{
    background-color: whitesmoke;
    color: purple;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
}
.input-field{
    display: inline;
}
.name{
    padding-left: 180px;
}
.dept{
    padding-left: 130px;
}
.roll{
    padding-left: 125px;
}
.year{
    padding-left: 95px;
}
.content{
    margin-top: 15px;
    margin-bottom: 15px;
}


table{
    border: 1px grey solid;
    padding: 2px;
    width: 120%;
    margin-top: 55px;
    background-color: blueviolet;
}
td{
    padding: 20px;
}
th{
    padding: 20px;
}
.edit {
    width: 100px;
    color: white;
}
.delete{
    width: 100px;
    background-color: red;
    color: white;
}
.edit:hover{
    width: 100px;
}
.delete:hover{
    width: 100px;
    color: red;
}
.flex-div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 845px;
}
.edit{
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    text-decoration: none;
}
.edit:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    text-decoration: none;
}
.new{
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
    text-decoration: none;
}
.new:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
    text-decoration: none;
}
.add-button{
    margin-left: 600px;
    margin-top: 200px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: black;
}
.add{
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
    text-decoration: none;
}
.add:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 15px;
    width: 550px;
    margin-top: 30px;
    text-decoration: none;
}
.add-button-class{
    margin-top: 55px;
    margin-left: 180px;
}